body, html {
  margin: 0;
  padding: 0;
  background: #ebebeb
}

.Dropdown div a, .header-switches a, .search div a {
  text-decoration: none;
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

#bottom-nav, #top-nav {
  display: none
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 54px;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s
}

.c-hamburger:focus {
  outline: 0
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #fff
}

.c-hamburger span::after, .c-hamburger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: ""
}

.c-hamburger span::after {
  bottom: -20px
}

.c-hamburger span::before {
  top: -20px
}

.c-hamburger--rot {
  background: #474747
}

.c-hamburger--rot span {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s
}

.c-hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

header {
  height: auto;
  overflow: hidden;
  width: 100%;
  background: #373737
}

.top-header-logo-inputs {
  height: auto;
  overflow: hidden
}

.top-header-logo-inputs p {
  font: 14pt NexaFreeLightwebfont;
  color: #fff;
  position: relative;
  top: 20px;
  width: 60%
}

.logo {
  height: 67px;
  width: 78px;
  background: #f26c4f;
  float: left;
  color: #fff;
  font: 30pt NexaFreeBoldwebfont;
  text-align: center;
  margin-left: 10px
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 16px solid #fa6c4f;
  float: left;
  position: relative;
  top: 18px;
  margin-right: 7px
}

.contact-letter {
  clear: both;
  margin-bottom: 10px
}

.contact, .letter {
  display: inline-block;
  margin: 10px 0 0 10px
}

#contact, #letter {
  font: 10pt NexaFreeBoldwebfont;
  padding-left: 35px;
  height: 35px;
  border: none;
  color: #bfbfbf;
  background: url(../img/clock.png) 15px no-repeat #fff;
  width: 60px
}

#letter {
  background: url(../img/letter.png) 15px no-repeat #fff;
  width: 80px
}

.header-switches {
  background: #ebebeb;
  float: right;
  padding: 0 15px;
  height: 37px
}

.header-switches a {
  color: #959595;
  font: 8pt QuicksandBold
}

.header-switches a:first-of-type {
  margin-top: 9px
}

.header-switches a:last-of-type {
  margin-top: -5px
}

.bottom-header {
  background: #474747;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative
}

.bottom-header-content {
  height: auto;
  overflow: hidden;
  padding-top: 5px
}

.top-nav {
  width: 100%;
  padding: 5px 0;
  position: relative;
  z-index: 1
}

.top-nav div {
  background: #474747;
  display: block;
  padding: 5px 0 15px
}

.top-nav div a {
  text-decoration: none;
  font: 9pt NexaFreeBoldwebfont;
  color: #fff;
  text-align: left;
  margin-left: 15px
}

.top-nav div img {
  position: relative;
  top: 5px
}

.Dropdown-Quicklinks {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px
}

.Dropdown {
  padding-top: 5px;
  float: right;
  margin-right: 3px
}

.Dropdown span {
  margin-right: 5px;
  font: 9.5pt NexaBold;
  color: #fff
}

.Dropdown div, .Dropdown span {
  display: inline-block
}

.Dropdown div a, .search div a {
  font: 8pt QuicksandBold;
  color: #fff
}

.Dropdown div a:last-of-type {
  margin-top: -5px
}

.Dropdown div a:first-of-type {
  margin-top: -4px
}

.Quicklinks {
  clear: both;
  float: right
}

.Quicklinks span {
  font: 9.5pt NexaBold;
  color: #fff
}

.Quicklinks a {
  margin-left: 2px;
  text-decoration: none
}

.Quicklinks img {
  margin-left: 20px;
  position: relative;
  top: 5px
}

.search-socials {
  height: 102px;
  clear: both
}

#Findy, #search {
  font: 9.5pt NexaFreeLightwebfont;
  color: #bfbfbf;
  margin-top: 16px;
  border: none
}

#search {
  padding: 15px 0 15px 10px;
  background: url(../img/clock1.png) 168px no-repeat #fff;
  margin: 0 11px;
  width: 185px
}

#Findy {
  padding: 15px 0 15px 25px;
  background: url(../img/map_pin1.png) 10px no-repeat #fff;
  width: 45px
}

.search {
  float: left;
  margin-bottom: 10px
}

.search div {
  background: #8f8f8f;
  margin-top: 16px;
  padding: 0 10px;
  float: right;
  height: 46px
}

.search div a:first-of-type {
  margin-top: 12px
}

.search div a:last-of-type {
  margin-top: -5px
}

.socials {
  clear: both;
  margin-left: 10px
}

.socials ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px
}

.socials ul li img {
  position: relative;
  top: 1px
}

.socials ul li a {
  color: #bfbfbf;
  font: 10pt NexaFreeBoldwebfont;
  text-decoration: none;
  margin-left: 5px
}

.socials ul li:last-of-type:extend, .socials ul li:nth-of-type(2), .socials ul li:nth-of-type(3) {
  margin-left: 22px
}

.feature {
  margin-top: 10px;
  height: auto;
  overflow: hidden
}

.feature-image {
  background: url(../img/image.png) no-repeat;
  width: 100%;
  height: 390px;
  position: relative
}

.feature-image div {
  position: absolute;
  bottom: -10px;
  right: 0;
  background: url(../img/fon.png) no-repeat;
  padding: 25px 35px 26px 30px;
  color: #fff;
  font: 11pt NexaFreeLightwebfont
}

.triangle-right1 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid #f26c4f;
  border-bottom: 15px solid transparent;
  float: left;
  position: relative;
  top: 5px
}

.feature-text {
  background: #373737;
  width: 97%;
  height: 300px;
  border-left: 10px solid #f26c4f;
  position: relative;
  padding: 30px 0 0
}

.feature-text h2 {
  font: 14pt NexaFreeLightwebfont;
  color: #fff;
  margin: 0 45px 0 40px
}

.feature-text p {
  font: 9pt Arial-Regular;
  color: #8e8e8e;
  line-height: 22px;
  margin: 20px 45px 0 40px
}

.plus-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 20px
}

.plus {
  margin: 0 5px 0 37px
}

.plus a {
  font: 33pt NexaFreeLightwebfont;
  color: #fff;
  text-decoration: none
}

.date1 {
  margin: 17px 45px 0 40px
}

.date1 span {
  color: #8e8e8e;
  font: 9pt Arial-Regular;
  position: relative;
  top: -5px;
  margin-left: 8px
}

.feature-switches {
  position: absolute;
  bottom: 0;
  right: 0
}

.feature-switches a {
  color: #fff;
  font: 12pt QuicksandBold;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 8px 11px
}

.feature-switches a:first-of-type {
  background: #535353
}

.feature-switches a:last-of-type {
  background: #474747;
  margin-left: -5px
}

.all-slider {
  margin: 0 auto;
  width: 320px;
  position: relative;
  height: 379px;
  clear: both
}

.slider {
  clear: both;
  overflow: hidden;
  position: relative;
  height: 393px;
  margin-left: 10px
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0
}

.slide {
  float: left;
  list-style: none;
  width: 300px;
  height: 379px;
  margin-right: 20px
}

.center_part, .left_part, .right_part {
  float: left;
  height: 379px;
  background: #fff;
  width: 300px;
  margin-top: 15px;
  position: relative
}

.next_slide, .prev_slide {
  position: absolute;
  top: 22%;
  display: none;
  left: -6px
}

.next_slide a, .prev_slide a {
  color: #adadad;
  font: 28pt QuicksandBold;
  position: relative;
  text-decoration: none
}

.next_slide {
  left: 0;
  right: 0
}

.center_part {
  margin: 15px 0 0
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 77px solid #373737;
  border-left: 77px solid transparent;
  position: absolute;
  top: 0;
  right: 0
}

#triangle-topright a {
  text-decoration: none;
  position: absolute;
  top: -64px;
  left: -31px;
  font: 20pt Arial-Regular;
  color: #fff
}

#triangle-topright:hover {
  border-top: 75px solid #f26c4f
}

.center_part h2, .left_part h2, .right_part h2 {
  font: 19pt NexaFreeBoldwebfont;
  color: #4f4f4f;
  margin: 20px 22px 5px 26px
}

.center_part p, .left_part p, .right_part p {
  font: 9.5pt Arial-Regular;
  color: #7e7e7e;
  margin: 0 22px 0 26px;
  line-height: 25px
}

.center_part div, .left_part div, .right_part div {
  height: 190px;
  width: 300px;
  background: url(../img/left-slider.png) no-repeat
}

.center_part div {
  background: url(../img/center-slider.png) no-repeat
}

.right_part div {
  background: url(../img/right-slider.png) no-repeat
}