.rotate{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.display(@style: none){
  display:@style;
}

.border-left(@width: 1px, @type: solid, @color: #bbb){
border-left:@width @type @color;
}

.border-top(@width: 1px, @type: solid, @color: #bbb){
  border-top:@width @type @color;
}

.border-right(@width: 1px, @type: solid, @color: #bbb){
  border-right:@width @type @color;
}

.border-bottom(@width: 1px, @type: solid, @color: #bbb){
  border-bottom:@width @type @color;
}

.font(@font-size:8pt;@fontFamily: Arial;) {
  font: @font-size @fontFamily;
}