/* Backgrounds */
@background-main: #ebebeb;
@background-repeat: no-repeat;
/* Colors */
@color-post:#707070;
/* Fonts */
@NexaFreeBoldwebfont: NexaFreeBoldwebfont;
@QuicksandBold: QuicksandBold;
@NexaFreeLightwebfont: NexaFreeLightwebfont;
@NexaBold: NexaBold;
@Arial-Regular: Arial-Regular;
@NexaHeavy:NexaHeavy;
/*Others*/
@text-decoration:none;
/*Media quieries
/ Medium Devices, Desktops */
@desktop: ~"(min-width: 981px)";
/* Small Devices, Tablets */
@tablet: ~"(min-width: 768px) and (max-width: 980px)";
/* Shovel*/
@shovel: ~"(min-width: 601px) and (max-width: 767px)";
/* Extra Small Devices, Phones */
@small-devices: ~"(min-width: 481px) and (max-width:600px)";
/* Custom, iPhone Retina */
@custom: ~"(min-width: 321px) and (max-width:480px)";