/* Backgrounds */
@background-main: #ebebeb;
@background-repeat: no-repeat;
/* Colors */
@color-post:#707070;
/* Fonts */
@NexaFreeBoldwebfont: NexaFreeBoldwebfont;
@QuicksandBold: QuicksandBold;
@NexaFreeLightwebfont: NexaFreeLightwebfont;
@NexaBold: NexaBold;
@Arial-Regular: Arial-Regular;
@NexaHeavy:NexaHeavy;
/*Others*/
@text-decoration:none;